<div class="jumbotron center">
<h1>Pins Projects</h1>
<p>Welcome blahblahblah</p>
<%= link_to "Sign Up", "#", class: "btn btn-primary btn-lg" %>&nbsp; &nbsp; &nbsp;<%= link_to "Log In", "#", class: "btn btn-primary btn-lg" %>
</div>
